/* transform: translate ელემენტს გადააადგილებს ჰორიზონტალურად ან/და ვერტიკალურად 
{
    transform: translate(x,y)   
}
x-ის დადებითი მნიშვნელობა ელემენტს გადააადგილებს მარჯვნივ, ხოლო უარყოფითი მნიშვნელობა მარცხნივ
y-ის დადებითი მნიშვნელობა ელემენტს გადააადგილებს ქვევით, ხოლო უარყოფითი მნიშვნელობა ზევით
*/


/* transform: scale ელემენტს უფრო დიდს ან პატარას ხდის. 
   თავდაპირველ ზომას აქვს 1-ის მნიშვნელობა, ამიტომ 2-ის მნიშვნელობა გააორმაგებს სიგანესა და სიმაღლეს, ხოლო 0,5 გაანახევრებს მას. 
{
   transform: scale(3);
}
*/

/* transform: rotate თქვენ შეგიძლიათ მოატრიალოთ ელემენტები. 
{
    transform: rotate(15deg);
} 
ნაგულისხმევად, ბრუნვები ხდება ელემენტის ცენტრის გარშემო. 
გამოიყენეთ transform-origin იმ წერტილის შესაცვლელად, რომლის გარშემოც ხდება ბრუნვა.
{
    transform-origin: top left;
}
*/

/* transform: skew; ელემენტის კუთხეებს წელავს მნიშვნელობების შესაბამისად
{
    transform: skew(x,y)
{
*/

/* თქვენ შეგიძლიათ გამოიყენოთ გარდაქმნების კომბინაცია ელემენტზე.
{
    transform: translate (x,y) scale(3) rotate(15deg) skew(x,y);
}
*/