*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    


}

body{
    height: 200vh;
    background-color: rgb(255, 230, 155);
}

.div1{
    
    display: flex;
    justify-content: space-around;
    
    
    
}

.div2{
    position: fixed;
    border: 0px solid rgb(0, 0, 0);
    background: linear-gradient(to left, rgb(235, 178, 54) 30%, rgb(255, 250, 192) 70%) ;
    margin: 10px;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}
a{
    text-decoration: none;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 900;
    text-align: center;

    

}


.div3{
    margin-top: 120px;
    margin-left: 190px;
    box-shadow: 0px 0px 20px black;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 0px;
    background-image: url(./img/laptop.jpg);
    background-size: cover;
    width: 800px;
    height: 450px;
    transition: 0.4s;
    
}

.div3:hover{
    width: 850px;
    height: 480px;
    margin-left: 165px;
    margin-top: 105px;

}
