/* შექმენით სათაური რომელსაც პადინგად ექნება ყველა მხარეს განსხვავებული ზომა. 
 ელემენტის რეალური ზომები უნდა იყოს სიგანეში  400px და სიმაღლეში 200px.  
 პარაგრაფის ზღვარი უნდა იყოს სიგანეში 5px წითელი ფერი და წერტილოვანი. 
 ელემენტის უკანა ფონად დააყენეთ რაიმე ფოტო.ელემენტის გარშემო სივრცე ყველა მხარეს უნდა იყოს 70px. 
 კომენტარებით ახსენით ყველა ხაზი. */


h1 {
    box-sizing: border-box;
    padding: 5px 8px 4px 9px;
    width: 400px;
    height: 200px;
    border: 5px;
    border-color: red;
    border-style: dotted;
    background-image: url(space.jpg);
    color: white;
    font-family: monospace;
    margin: 70px;
    text-align: center;
    
    

}