* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* display გამოიყენება იმისთვის რათა მივუთითოთ თუ როგორ უნდა იქნას ელემენტი გამოსახული საიტზე. 
 flex მნიშვნელობის მინიჭებით display-ზე ელემენტი ხდება მეტად მოქნილი და შეგვიძლია მისი გადაადგილება. 
 თავდაპირველად ელემენტები გამოსახულია ჰორიზონტალურად x-თა ღერძზე. ელემენტების გამოსახვის მიმართულების შესაცვლელად, 
 ვიყენებთ flex-direction ქვეთვისებას. მას ჩვენ ძირითადად გადავცემთ მნიშვნელობებს ან row(სტრიქონი) ან column(სვეტი). 
 justify-content ელემენტს უცვლის ადგილ-მდებარეობას მთავარი ღერძის მიმართ, 
 /* ხოლო align-item გადამკვეთი ღერძის მიმართ უცვლის ელემენტს ადგილ-მდებარეობას */