/* display თვისებას შეუძლია შეცვალოს inline და block-level ელემენტების ქცევები. 
 მოდით პარაგრაფი(block-level ელემენტი) გადავაქციოთ inline ელემენტად: */
#my_p {
    display: inline;
}
 /* ახლა კი მოდით ლინკი(inline ელემენტი) გადავაქციოთ block-level ელემენტად:  */
#my_a {
    display: block;
}

/* flexbox გამოიყენება იმისთვის რომ ავტომატურად ერთ კონტეინერში მოექცეს ელემენტები. 
 flex(flexable) კონტეინერის შესაქმნელად display-ს უნდა მივუთითოთ flex. */
.flex{
    display: flex;
    background-color: blue;
    color: white;
    
}


/*  ჩვეულებრივ, კონტეინერში ელემენტები განლაგებულია ავტომატურად 1 რიგში, 
 რათა მაქსიმალურად გამოიყენოს ხელმისაწვდომი სივრცე. იმისთვის ომ ელემენტების წყობა შევცვალოთ, 
 უნდა გამოვიყენოთ flex-direction ქქვე-თვისება. */
.flex {
    flex-direction: column;
}

/* ჩვეულებრივ, კონტეინერში მოთავსებული ელემენტი ყველა შეეცდება მოთავსდეს ერთ ხაზზე. 
 თქვენ შეგიძლიათ შეცვალოთ ეს და მისცეთ ნივთებს საჭიროებისამებრ შეფუთვა flex-wrap ქვესაკუთრებით. 
 რის შემდეგადაც, ელემენტები ავტომატურად განლაგდება და ხაზების რაოდენობა დამოკიდებული იქნება ეკრანის ზომაზე. */

.flex {
    flex-wrap: nowrap;
}